ul{
    list-style-type:none;
    display:flex;
    background-color:orange;
    padding:6px;
    justify-content:flex-end;
  position: fixed;
  width:99%;
  /* z-index: 25; */

}
a{
    color:white;
    border:2px solid red;
    /* padding:5px; */
    margin:5px;
    text-decoration:none;
  
}
a:hover{
    background-color: blue;
    padding:5px;
}

*{
    margin:0;
}
h3{
    margin:25px;
